html, body, #root, .App, #reader {
    width: 100%;
    height: 100%;
}

/* Elements */ 
.navlinks {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    padding: 10px;
    background: yellow;
}

li a {
    text-decoration: none;
}
